body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #f7f7f7;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.pure-menu {
    padding: 0.5em;
    color: #edf9ff;
    background-color: #038fd2;
}

    .pure-menu a {
        color: #edf9ff;
        text-decoration: none;
    }

        .pure-menu a:hover {
            color: #edf9ff;
        }

.pure-menu-heading {
    font-weight: 400;
    font-size: 120%;
}

.pure-menu-list {
    float: right;
}

.pure-menu-link:hover {
    background-color: #085f89;
}

.pure-table thead, .pure-button {
    background-color: #038fd2;
    color: white;
}

.pure-form {
    text-align: center;
}